<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cuistocs">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mon_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cuistocs">
        <activity android:name=".AfficherRecettesEffectueesActivity"></activity>
        <activity android:name=".ListeDeCoursesActivity" />
        <activity android:name=".JoursCoursesActivity" />
        <activity android:name=".RecettesEffectuees" />
        <activity android:name=".CommentRecetteActivity" />
        <activity android:name=".RecetteActivity" />
        <activity android:name=".ChoixJoursActivity" />
        <activity android:name=".SemaineActivity" />
        <activity android:name=".AccueilActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //on déclare le provider qui va permettre d'accéder au fichier externe

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cuistocs.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>


        <service android:name=".notifications.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>